{{#with carro}}
    <div class="carro">
        <h1>{{marca}}</h1>
        <h2>{{modelo}}</h2>
        <img src="{{imagem}}" alt="Imagem {{marca}} {{modelo}}">
        <h2>R$ {{valor}}</h2>
    </div>
{{/with}}